.tm-page {
    background-image: url(../images/icons/page.png) !important; 
    background-repeat: no-repeat;
}
.tm-category {
    background-image: url(../images/icons/folder.png) !important; 
    background-repeat: no-repeat;
}
.tm-logout {
    background-image: url(../images/icons/door_in.png) !important; 
    background-repeat: no-repeat;
}
.tm-management {
    background-image: url(../images/icons/cog.png) !important; 
    background-repeat: no-repeat;
}
.tm-dashboard {
    background-image: url(../images/icons/application_side_boxes.png) !important; 
    background-repeat: no-repeat;
}
.tm-plugin {
    background-image: url(../images/icons/plugin.png) !important; 
    background-repeat: no-repeat;
}
.tm-user-profile {
    background-image: url(../images/icons/user_edit.png) !important; 
    background-repeat: no-repeat;
}
.tm-usermanagement {
    background-image: url(../images/icons/group.png) !important; 
    background-repeat: no-repeat;
}
.tm-client {
    background-image: url(../images/icons/building.png) !important; 
    background-repeat: no-repeat;
}
.tm-mapping {
    background-image: url(../images/icons/map.png) !important; 
    background-repeat: no-repeat;
}
.tm-configuration {
    background-image: url(../images/icons/cog.png) !important; 
    background-repeat: no-repeat;
}
.tm-translation {
    background-image: url(../images/icons/font.png) !important; 
    background-repeat: no-repeat;
}
.tm-script {
    background-image: url(../images/icons/application_osx_terminal.png) !important; 
    background-repeat: no-repeat;
}
.treepage-online {
    background-image: url(../images/icons/page.png) !important; 
    background-repeat: no-repeat;
}
.treepage-offline {
    background-image: url(../images/icons/page_white_delete.png) !important; 
    background-repeat: no-repeat;
}
.treepage-index-online {
    background-image: url(../images/icons/page_white_code.png) !important; 
    background-repeat: no-repeat;
}
.treepage-index-offline {
    background-image: url(../images/icons/page_white_code_red.png) !important; 
    background-repeat: no-repeat;
}
.treecat-online {
    background-image: url(../images/icons/folder.png) !important; 
    background-repeat: no-repeat;
}
.treecat-offline {
    background-image: url(../images/icons/folder_delete.png) !important; 
    background-repeat: no-repeat;
}
.treecat-private {
    background-image: url(../images/icons/folder_key.png) !important; 
    background-repeat: no-repeat;
}
.cm-bookmark-category {
    background-image: url(../images/icons/folder_star.png) !important; 
    background-repeat: no-repeat;
}
.cm-setonline {
    background-image: url(../images/icons/accept.png) !important; 
    background-repeat: no-repeat;
}
.cm-setoffline {
    background-image: url(../images/icons/delete.png) !important; 
    background-repeat: no-repeat;
}
.cm-indexpage {
    background-image: url(../images/icons/page_white_code.png) !important; 
    background-repeat: no-repeat;
}
.page-indexpage {
    background-image: url(../images/icons/page_white_code.png) !important; 
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}
.page-online {
    background-image: url(../images/icons/flag_green.png) !important; 
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin-right:5px;
}
.page-offline {
    background-image: url(../images/icons/flag_red.png) !important; 
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin-right:5px;
}
.page-unpublished {
    background-image: url(../images/icons/exclamation.png) !important; 
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin-right:5px;
}
.page-published {
    background-image: url(../images/icons/world.png) !important; 
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin-right:5px;
}
.tb-add {
    background-image: url(../images/icons/add.png) !important; 
    background-repeat: no-repeat;
}
.delete {
    background-image: url(../images/icons/delete.png) !important; 
    background-repeat: no-repeat;
}
.cut {
    background-image: url(../images/icons/cut.png) !important; 
    background-repeat: no-repeat;
}
.paste {
    background-image: url(../images/icons/paste_plain.png) !important; 
    background-repeat: no-repeat;
}
