@charset "UTF-8";

.flexeditor > ul.flexcontent {
    display:none;
}

.flexeditor > ul.flexcontent div.editor {
    display:none;
}

.flexeditor > ul.flexcontent > li > div.buttonbar {
    display:none;
    position:absolute;
    padding:4px 0 0 0;
    cursor:move;
    background-color:#DDD;
    top:-30px;
    height:30px;
    width:100%;
}

.flexeditor > ul.flexcontent > li > div.buttonbar .flex-ui-button {
    padding:0 3px 0 3px;
    margin:0 0 0 4px;
    border:1px solid #CCC;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -khtml-border-radius:4px;
    border-radius:4px;
    width:24px;
    height:24px;
    float:left;
    background-color:white;
    cursor:pointer;
}

.flexeditor > ul.flexcontent > li > div.buttonbar button span {
    display:block;
    height:16px;
    width:16px;
}

.flexeditor > ul.flexcontent > li > div.content {
    padding:0;
    margin:0;
}

.flexeditor .placeholder {
    list-style-type:none; 
    margin:0;
    background-color:#CCC;
}

.flexeditor div.modules > button {
    padding:5px 5px 0 5px;
    margin:0 10px 10px 0;
    border:1px solid #CCC;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -khtml-border-radius:4px;
    border-radius:4px;
    background-color:white;
    cursor:pointer;
    width:180px;
    height:75px;
    font-size:9px;
    text-align:left;
    float:left;
}

.flexeditor div.modules > button > .name {
    font-size:11px;
    font-weight:bold;
    margin-bottom:5px;
}

.flexeditor div.modules > button > .description {
    height:50px;
}

