body {background:none #FFF;font-family:Verdana, Geneva, Tahoma, sans-serif;font-size:81.25%;}
h1, h2, h3, h4, h5, h6 {
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size:100%;
font-weight:bold;
}
h2{font-size:123.077%;}
h3{font-size:115.385%;}
h4{font-size:107.692%;}

a{color:#349bdd;text-decoration:none;}
a:visited {color:#349bdd;}
a:focus {background:none repeat scroll 0 0 #FFF;color:#000;}
a:hover, a:active {color:#888;outline:0 none;}
p{margin:0 0 1.25em 0;}
.page_margins{width:944px;}
.page{padding:32px 16px;}
#header{padding:0;height:96px;font-size:0.846em;color:#000;}
#header > div > div.c25l{width:256px;}
#header > div > div.c50l{width:400px;}
#header > div > div.c25r{width:256px;}

#header > div > div > div.subcl {padding:0 16px 0 0;}
#header > div > div > div.subc {padding:0 16px;}
#header > div > div > div.subcr {padding:0 0 0 16px;}

#header ul,#header li{margin:0;}
#header li{list-style-type:none;line-height:1.25em;}
/*#header a{color:#CCC;}*/
#header span,#header .active a{color:#000;}
#nav ul{margin:0;}
.hlist {border-color: #888;background:url("../images/shiny_buttons/background.png") repeat-x scroll right center #C0C0C0;}
.hlist ul,.hlist ul li,.hlist ul li.active{border:none;}
.hlist ul li a, .hlist ul li strong {
text-transform:uppercase;
font-size:1.077em;
font-weight:normal;
}
.hlist ul li.active a.active{
background:none repeat scroll 0 0 transparent;
color:#FFF;
text-decoration:none;
}
#main{padding:16px 0;}
#col1{width:656px;}
#col3{margin:0 0 0 656px;}
#col1_content{padding:0 16px 0 0;}
#col3_content{padding:0 0 0 16px; border-left:1px dashed #C3C3C3;}
#teaser{height:360px;width:640px;margin:0 0 1.25em 0;}
#col3 .info{background:transparent;padding:0;margin:0 0 16px 0;color:#000;}
#col3 .info h3{background:#C3C3C3;padding:3px 10px;margin:0 0 13px 0;font-size:100%;}
#col3 .info h4{font-size:100%;}
#col3 .info dl,#col3 .info dt,#col3 .info dd,#col3 .info ul,#col3 .info ol,#col3 .info li{margin:0;}
#col3 .info dl{background:url("../images/bg_info.png") repeat;}
#col3 .info ul li{list-style-type:none;}
#col3 .info ol li{margin-left:35px;}
#col3 .info dd,#col3 .info ul li{padding:0 10px;}
.info{font-size:100%;}
#header span.more,span.more{display:block;font-weight:bold;}
/*#col3 .mostreaded,#col3 .mostreaded a{color:#CCC;}*/
.subcolumns.news{margin:1.25em 0 0;}

.border-top-light{border-top:1px solid #C3C3C3; padding-top:15px;}
.border-top-bold{border-top:2px solid #C3C3C3; padding-top:15px;}

#footer {border-top:2px solid #C3C3C3;background-color:white; padding:0; padding-top:3px; padding-left:1px;}

.course ul li a{color:#000;}
a:active, a:hover, a:focus, a:visited{text-decoration:none;}

.info.latest a{color:inherit;}