ul.imageslider {
	display: block;
	list-style: none;
	border-top: 1px solid #e7e7e7;
	margin-bottom: 40px;
	padding-top: 10px;
	text-align: right;
}

ul.imageslider li {
	display: inline;
	background: none;
	margin: 0 0 0 10px;
	padding: 0;
}

ul.imageslider li a img {
	border: 1px solid #e7e7e7;
	padding: 1px;
}

ul.imageslider li a:hover img,ul.imageslider li a.active img {
	border: 2px solid #fac70a;
	padding: 0;
}

.slide {
	position: relative;
	width: 700px;
	height: 380px;
	overflow: hidden;
	clear: both;
}

.slide div {
	float: left;
	width: 700px;
}

.slide .items {
	width: 20000em;
	position: absolute;
	clear: both;
	margin: 0;
	padding: 0;
}

ul.imageslider li a.current img {
	border: 2px solid #fac70a !important;
	padding: 0;
}