.extruder{
  position:fixed;
  cursor:default;
  background:url("?url?/elements/extruder_blank.png");
}

.extruder .header{
  height:27px;
}

.extruder .content{
  display:none;
  background:url("?url?/elements/extruder_bgnd.png") repeat-y bottom left;
}

.extruder.open .content{
  -moz-box-shadow:#999 2px -2px 2px;
  -webkit-box-shadow:#999 2px -2px 2px;
}



.extruder .footer{
  display:block;
  spadding:5px;
  height:10px;
  background:#000;
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
}
.extruder.top .flap{
  color:white;
  text-shadow: #000 2px 2px 2px;
  font:18px/18px Arial, Helvetica, sans-serif;
  text-align:center;
  display:block;
  padding:0 5px 5px 5px;
  height:30px;
  background:url("?url?/elements/extruder_flap.png") no-repeat top center;
  cursor:pointer;
}

.extruder.left{
  /*position:absolute;*/
  height:100%;
  background:url("?url?/elements/extruder_blank.png");
}

.extruder.left .content{
  display:block;
  border-right:3px solid #000;
}


.extruder.left .ext_wrapper{
  height:100%;
}

.extruder.left .footer{
  display:none;
}

.extruder.left .flap{
  font-size:18px;
  color:white;
  top:0;
  padding:10px 0px 10px 10px;
  background:#000;
  width:30px;
  /*height:150px;*/
  position:absolute;
  /*overflow:hidden;*/
  right:-2px;
  -moz-border-radius:0 10px 10px 0;
  -webkit-border-top-right-radius:10px;
  -webkit-border-bottom-right-radius:10px;
  -moz-box-shadow:#666 2px 0px 3px;
  -webkit-box-shadow:#666 2px 0px 3px;
}